* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/bg/image-bg-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: 50% 15%; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* div1 center  */

.div1-center {
   padding: 20px;
   margin-right: 150px;
}

.div2-center {
    background-color: #FFF6F6;
    border-radius: 20px;
    padding: 20px;
    width: 30em;
    height: 30em;
    margin-left: 150px;
}

/* flexer  */
.main-div-center {
    display: flex;
}



